/* Global styles
--------------------------------------*/
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}
#title1 {
  color: #525252;
  font-weight: 400;
  font-size: 20px;
  background: linear-gradient(90deg, rgba(193,224,233,1) 16%, rgba(129,162,207,1) 38%, rgba(60,139,242,1) 100%);

  margin: 0px;
  padding: 8px 10px;
  border-radius: 5px 5px 0 0;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
 
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1.0;
  height: 800px;
  width: 320px;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0 60px;
  background-image: url(b1.png);
  background-repeat: repeat;
  background-size: cover;
}

/* Landing page
--------------------------------------*/
nav {
  position: relative;
}
.center-style {
  margin-top: 10px;
  text-align: center;
}

.top-menu {
  position: relative;
  top: -50px;
  right: -200px;
}

.addNote {
  color: #f2f4f3ff;
  background: linear-gradient(90deg, rgba(193,224,233,1) 19%, rgba(155,190,237,1) 48%, rgba(60,139,242,1) 100%);
  height: 40px;
  width: 40px;
  outline: none;
  border-style: none;
  border-radius: 30px;
}

.addNote:hover {
  color: #f2f4f3ff;
  background-color: #049a8fff;
  height: 40px;
  width: 40px;
  outline: none;
  border-style: none;
  border-radius: 30px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
}

.flex-item {
  flex: 1 1 auto;
  border: 1px solid #313638ff;
  padding: 5px;
  margin-top: 10px;
  overflow-wrap: none;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;


}
#mainContent {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 8px 15px;
  border-radius: 0 0 5px 5px;
 
}

/* Flash Card
--------------------------------------*/

.tag-container{
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  display: flex;
}

.tag-container .tag {
  padding: 2px;
  border: 1px solid #ccc;
  margin: 2px;
  display: flex;
  align-items: center;
  border-radius: 1.5px;
  background: #f2f2f2;
}

.tag i{
  font-size: 16px;
  margin-left: 5px;
}

.tag-container input{
  flex: 1;
  font-size: 16px;
  padding: 2px;
  outline: none;
  border: 0;
}
label {
  color: #555;
}

.inputClass {
  outline: none;
  background: #fafafa;
  border-radius: 5px;
  border: none;
  color: #666;
  transition: all .4s ease;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
}

.flex-item h4 {
  margin-top: 2px;
  margin-bottom: 5px;
}

.pop-background-color{
  background-color: azure;
}

.solid-board{
  border: 1px solid #313638ff;
}

.yes-button{
  border: 1px solid #313638ff;
  border-radius: 10px;
}