
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css">
    <title>Confirm</title>
</head>
<body>
    <section>
        <div class="container1">
            <h2>Your Registration is completed</h2>
            <h2>You can login using the extension now.</h2>
        </div>
    </section>
</body>
</html>
