@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url("../images/b2.jpg");
    background-size: cover;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    text-align: center;
    background-color: rgba(0,0,0,.3);
}

.container1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    text-align: center;
    background-color: rgba(0,0,0,.6);
}

.container1 h2 {
    color: white;
    font-size: 2em;
}
.login-form {
    position: relative;
    box-sizing: border-box;
    padding: 50px 30px;
    transition: .5s;
}

    .login-form:hover {
        background: rgba(0,0,0,.5);
        box-shadow: 0 0 20px rgba(0,0,0,.2);
    }

    .login-form h1 {
        margin: 0 0 20px;
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
    }

    .login-form input {
        display: block;
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        border-radius: 25px;
        outline: none;
        font-size: 14px;
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
        border: none;
        background: rgba(255,255,255,.1);
        font-family: 'Roboto Condensed', sans-serif;
    }

        .login-form input::placeholder {
            color: #fff;
        }

        .login-form input[type="submit"] {
            color: #fff;
            background: #0072ff;
            font-size: 16px;
            cursor: pointer;
        }

            .login-form input[type="submit"]:hover {
                background: #005aca;
            }

    .login-form a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
